---
title: All Surahs
layout: base.njk
permalink: /surahs/
---

<div class="surahs-page">
  <h1>All Surahs</h1>
  <p class="subtitle">114 Chapters of the Holy Quran</p>
  
  <div class="surah-legend">
    <button class="legend-item makki active" data-filter="all">All</button>
    <button class="legend-item makki" data-filter="makki">🕋 Makki</button>
    <button class="legend-item madani" data-filter="madani">🕌 Madani</button>
  </div>
  
  <div class="surah-grid">
    <a href="/verse/1/" class="surah-card makki">
      <span class="surah-number">1</span>
      <span class="surah-name">Al-Fatihah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/8/" class="surah-card madani">
      <span class="surah-number">2</span>
      <span class="surah-name">Al-Baqarah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/294/" class="surah-card madani">
      <span class="surah-number">3</span>
      <span class="surah-name">Aal-E-Imran</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/494/" class="surah-card madani">
      <span class="surah-number">4</span>
      <span class="surah-name">An-Nisa</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/670/" class="surah-card madani">
      <span class="surah-number">5</span>
      <span class="surah-name">Al-Ma'idah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/790/" class="surah-card makki">
      <span class="surah-number">6</span>
      <span class="surah-name">Al-An'am</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/955/" class="surah-card makki">
      <span class="surah-number">7</span>
      <span class="surah-name">Al-A'raf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1161/" class="surah-card madani">
      <span class="surah-number">8</span>
      <span class="surah-name">Al-Anfal</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/1236/" class="surah-card madani">
      <span class="surah-number">9</span>
      <span class="surah-name">At-Tawbah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/1365/" class="surah-card makki">
      <span class="surah-number">10</span>
      <span class="surah-name">Yunus</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1474/" class="surah-card makki">
      <span class="surah-number">11</span>
      <span class="surah-name">Hud</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1597/" class="surah-card makki">
      <span class="surah-number">12</span>
      <span class="surah-name">Yusuf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1708/" class="surah-card makki">
      <span class="surah-number">13</span>
      <span class="surah-name">Ar-Ra'd</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1751/" class="surah-card makki">
      <span class="surah-number">14</span>
      <span class="surah-name">Ibrahim</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1803/" class="surah-card makki">
      <span class="surah-number">15</span>
      <span class="surah-name">Al-Hijr</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/1902/" class="surah-card makki">
      <span class="surah-number">16</span>
      <span class="surah-name">An-Nahl</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2030/" class="surah-card makki">
      <span class="surah-number">17</span>
      <span class="surah-name">Al-Isra</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2141/" class="surah-card makki">
      <span class="surah-number">18</span>
      <span class="surah-name">Al-Kahf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2251/" class="surah-card makki">
      <span class="surah-number">19</span>
      <span class="surah-name">Maryam</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2349/" class="surah-card makki">
      <span class="surah-number">20</span>
      <span class="surah-name">Ta-Ha</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2484/" class="surah-card makki">
      <span class="surah-number">21</span>
      <span class="surah-name">Al-Anbiya</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2596/" class="surah-card madani">
      <span class="surah-number">22</span>
      <span class="surah-name">Al-Hajj</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/2674/" class="surah-card makki">
      <span class="surah-number">23</span>
      <span class="surah-name">Al-Mu'minun</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2792/" class="surah-card madani">
      <span class="surah-number">24</span>
      <span class="surah-name">An-Nur</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/2856/" class="surah-card makki">
      <span class="surah-number">25</span>
      <span class="surah-name">Al-Furqan</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/2933/" class="surah-card makki">
      <span class="surah-number">26</span>
      <span class="surah-name">Ash-Shu'ara</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3160/" class="surah-card makki">
      <span class="surah-number">27</span>
      <span class="surah-name">An-Naml</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3253/" class="surah-card makki">
      <span class="surah-number">28</span>
      <span class="surah-name">Al-Qasas</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3341/" class="surah-card makki">
      <span class="surah-number">29</span>
      <span class="surah-name">Al-Ankabut</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3410/" class="surah-card makki">
      <span class="surah-number">30</span>
      <span class="surah-name">Ar-Rum</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3470/" class="surah-card makki">
      <span class="surah-number">31</span>
      <span class="surah-name">Luqman</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3504/" class="surah-card makki">
      <span class="surah-number">32</span>
      <span class="surah-name">As-Sajdah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3534/" class="surah-card madani">
      <span class="surah-number">33</span>
      <span class="surah-name">Al-Ahzab</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/3607/" class="surah-card makki">
      <span class="surah-number">34</span>
      <span class="surah-name">Saba</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3661/" class="surah-card makki">
      <span class="surah-number">35</span>
      <span class="surah-name">Fatir</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3706/" class="surah-card makki">
      <span class="surah-number">36</span>
      <span class="surah-name">Ya-Sin</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3789/" class="surah-card makki">
      <span class="surah-number">37</span>
      <span class="surah-name">As-Saffat</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/3971/" class="surah-card makki">
      <span class="surah-number">38</span>
      <span class="surah-name">Sad</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4059/" class="surah-card makki">
      <span class="surah-number">39</span>
      <span class="surah-name">Az-Zumar</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4134/" class="surah-card makki">
      <span class="surah-number">40</span>
      <span class="surah-name">Ghafir</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4219/" class="surah-card makki">
      <span class="surah-number">41</span>
      <span class="surah-name">Fussilat</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4273/" class="surah-card makki">
      <span class="surah-number">42</span>
      <span class="surah-name">Ash-Shura</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4326/" class="surah-card makki">
      <span class="surah-number">43</span>
      <span class="surah-name">Az-Zukhruf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4415/" class="surah-card makki">
      <span class="surah-number">44</span>
      <span class="surah-name">Ad-Dukhan</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4474/" class="surah-card makki">
      <span class="surah-number">45</span>
      <span class="surah-name">Al-Jathiyah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4511/" class="surah-card makki">
      <span class="surah-number">46</span>
      <span class="surah-name">Al-Ahqaf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4546/" class="surah-card madani">
      <span class="surah-number">47</span>
      <span class="surah-name">Muhammad</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/4584/" class="surah-card madani">
      <span class="surah-number">48</span>
      <span class="surah-name">Al-Fath</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/4613/" class="surah-card madani">
      <span class="surah-number">49</span>
      <span class="surah-name">Al-Hujurat</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/4631/" class="surah-card makki">
      <span class="surah-number">50</span>
      <span class="surah-name">Qaf</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4676/" class="surah-card makki">
      <span class="surah-number">51</span>
      <span class="surah-name">Adh-Dhariyat</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4736/" class="surah-card makki">
      <span class="surah-number">52</span>
      <span class="surah-name">At-Tur</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4785/" class="surah-card makki">
      <span class="surah-number">53</span>
      <span class="surah-name">An-Najm</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4847/" class="surah-card makki">
      <span class="surah-number">54</span>
      <span class="surah-name">Al-Qamar</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4902/" class="surah-card makki">
      <span class="surah-number">55</span>
      <span class="surah-name">Ar-Rahman</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/4980/" class="surah-card makki">
      <span class="surah-number">56</span>
      <span class="surah-name">Al-Waqi'ah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5076/" class="surah-card madani">
      <span class="surah-number">57</span>
      <span class="surah-name">Al-Hadid</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5105/" class="surah-card madani">
      <span class="surah-number">58</span>
      <span class="surah-name">Al-Mujadila</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5127/" class="surah-card madani">
      <span class="surah-number">59</span>
      <span class="surah-name">Al-Hashr</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5151/" class="surah-card madani">
      <span class="surah-number">60</span>
      <span class="surah-name">Al-Mumtahanah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5164/" class="surah-card madani">
      <span class="surah-number">61</span>
      <span class="surah-name">As-Saff</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5178/" class="surah-card madani">
      <span class="surah-number">62</span>
      <span class="surah-name">Al-Jumu'ah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5189/" class="surah-card madani">
      <span class="surah-number">63</span>
      <span class="surah-name">Al-Munafiqun</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5200/" class="surah-card madani">
      <span class="surah-number">64</span>
      <span class="surah-name">At-Taghabun</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5218/" class="surah-card madani">
      <span class="surah-number">65</span>
      <span class="surah-name">At-Talaq</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5230/" class="surah-card madani">
      <span class="surah-number">66</span>
      <span class="surah-name">At-Tahrim</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5242/" class="surah-card makki">
      <span class="surah-number">67</span>
      <span class="surah-name">Al-Mulk</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5272/" class="surah-card makki">
      <span class="surah-number">68</span>
      <span class="surah-name">Al-Qalam</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5324/" class="surah-card makki">
      <span class="surah-number">69</span>
      <span class="surah-name">Al-Haqqah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5376/" class="surah-card makki">
      <span class="surah-number">70</span>
      <span class="surah-name">Al-Ma'arij</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5420/" class="surah-card makki">
      <span class="surah-number">71</span>
      <span class="surah-name">Nuh</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5448/" class="surah-card makki">
      <span class="surah-number">72</span>
      <span class="surah-name">Al-Jinn</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5476/" class="surah-card makki">
      <span class="surah-number">73</span>
      <span class="surah-name">Al-Muzzammil</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5496/" class="surah-card makki">
      <span class="surah-number">74</span>
      <span class="surah-name">Al-Muddaththir</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5552/" class="surah-card makki">
      <span class="surah-number">75</span>
      <span class="surah-name">Al-Qiyamah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5592/" class="surah-card madani">
      <span class="surah-number">76</span>
      <span class="surah-name">Al-Insan</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/5623/" class="surah-card makki">
      <span class="surah-number">77</span>
      <span class="surah-name">Al-Mursalat</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5673/" class="surah-card makki">
      <span class="surah-number">78</span>
      <span class="surah-name">An-Naba</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5713/" class="surah-card makki">
      <span class="surah-number">79</span>
      <span class="surah-name">An-Nazi'at</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5759/" class="surah-card makki">
      <span class="surah-number">80</span>
      <span class="surah-name">Abasa</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5801/" class="surah-card makki">
      <span class="surah-number">81</span>
      <span class="surah-name">At-Takwir</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5830/" class="surah-card makki">
      <span class="surah-number">82</span>
      <span class="surah-name">Al-Infitar</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5849/" class="surah-card makki">
      <span class="surah-number">83</span>
      <span class="surah-name">Al-Mutaffifin</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5885/" class="surah-card makki">
      <span class="surah-number">84</span>
      <span class="surah-name">Al-Inshiqaq</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5910/" class="surah-card makki">
      <span class="surah-number">85</span>
      <span class="surah-name">Al-Buruj</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5932/" class="surah-card makki">
      <span class="surah-number">86</span>
      <span class="surah-name">At-Tariq</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5949/" class="surah-card makki">
      <span class="surah-number">87</span>
      <span class="surah-name">Al-A'la</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5968/" class="surah-card makki">
      <span class="surah-number">88</span>
      <span class="surah-name">Al-Ghashiyah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/5994/" class="surah-card makki">
      <span class="surah-number">89</span>
      <span class="surah-name">Al-Fajr</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6024/" class="surah-card makki">
      <span class="surah-number">90</span>
      <span class="surah-name">Al-Balad</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6044/" class="surah-card makki">
      <span class="surah-number">91</span>
      <span class="surah-name">Ash-Shams</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6059/" class="surah-card makki">
      <span class="surah-number">92</span>
      <span class="surah-name">Al-Layl</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6080/" class="surah-card makki">
      <span class="surah-number">93</span>
      <span class="surah-name">Ad-Dhuha</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6091/" class="surah-card makki">
      <span class="surah-number">94</span>
      <span class="surah-name">Ash-Sharh</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6099/" class="surah-card makki">
      <span class="surah-number">95</span>
      <span class="surah-name">At-Tin</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6107/" class="surah-card makki">
      <span class="surah-number">96</span>
      <span class="surah-name">Al-Alaq</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6126/" class="surah-card makki">
      <span class="surah-number">97</span>
      <span class="surah-name">Al-Qadr</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6131/" class="surah-card madani">
      <span class="surah-number">98</span>
      <span class="surah-name">Al-Bayyinah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/6139/" class="surah-card madani">
      <span class="surah-number">99</span>
      <span class="surah-name">Az-Zalzalah</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/6147/" class="surah-card makki">
      <span class="surah-number">100</span>
      <span class="surah-name">Al-Adiyat</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6158/" class="surah-card makki">
      <span class="surah-number">101</span>
      <span class="surah-name">Al-Qari'ah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6169/" class="surah-card makki">
      <span class="surah-number">102</span>
      <span class="surah-name">At-Takathur</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6177/" class="surah-card makki">
      <span class="surah-number">103</span>
      <span class="surah-name">Al-Asr</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6180/" class="surah-card makki">
      <span class="surah-number">104</span>
      <span class="surah-name">Al-Humazah</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6189/" class="surah-card makki">
      <span class="surah-number">105</span>
      <span class="surah-name">Al-Fil</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6194/" class="surah-card makki">
      <span class="surah-number">106</span>
      <span class="surah-name">Quraysh</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6198/" class="surah-card makki">
      <span class="surah-number">107</span>
      <span class="surah-name">Al-Ma'un</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6205/" class="surah-card makki">
      <span class="surah-number">108</span>
      <span class="surah-name">Al-Kawthar</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6208/" class="surah-card makki">
      <span class="surah-number">109</span>
      <span class="surah-name">Al-Kafirun</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6214/" class="surah-card madani">
      <span class="surah-number">110</span>
      <span class="surah-name">An-Nasr</span>
      <span class="surah-type">🕌</span>
    </a>
    <a href="/verse/6217/" class="surah-card makki">
      <span class="surah-number">111</span>
      <span class="surah-name">Al-Masad</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6222/" class="surah-card makki">
      <span class="surah-number">112</span>
      <span class="surah-name">Al-Ikhlas</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6226/" class="surah-card makki">
      <span class="surah-number">113</span>
      <span class="surah-name">Al-Falaq</span>
      <span class="surah-type">🕋</span>
    </a>
    <a href="/verse/6231/" class="surah-card makki">
      <span class="surah-number">114</span>
      <span class="surah-name">An-Nas</span>
      <span class="surah-type">🕋</span>
    </a>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterButtons = document.querySelectorAll('.surah-legend button');
  const surahCards = document.querySelectorAll('.surah-card');
  
  filterButtons.forEach(button => {
    button.addEventListener('click', function() {
      const filter = this.dataset.filter;
      
      // Update active state
      filterButtons.forEach(btn => btn.classList.remove('active'));
      this.classList.add('active');
      
      // Filter cards
      surahCards.forEach(card => {
        if (filter === 'all') {
          card.style.display = '';
        } else if (card.classList.contains(filter)) {
          card.style.display = '';
        } else {
          card.style.display = 'none';
        }
      });
    });
  });
});
</script>
