---
title: All Surahs
layout: base.njk
permalink: /surahs/
---

<div class="surahs-page">
  <h1>All Surahs</h1>
  <p class="subtitle">114 Chapters of the Holy Quran</p>
  
  <div class="surah-legend">
    <button class="legend-item makki active" data-filter="all">All</button>
    <button class="legend-item makki" data-filter="makki">🕋 Makki</button>
    <button class="legend-item madani" data-filter="madani">🕌 Madani</button>
  </div>
  
  <div class="surah-grid">
    <a href="/surah/1/1/" class="surah-card makki">
      <span class="surah-number">1 🕋</span>
      <span class="surah-name">Al-Fatihah</span>
    </a>
    <a href="/surah/2/1/" class="surah-card madani">
      <span class="surah-number">2 🕌</span>
      <span class="surah-name">Al-Baqarah</span>
    </a>
    <a href="/surah/3/1/" class="surah-card madani">
      <span class="surah-number">3 🕌</span>
      <span class="surah-name">Aal-E-Imran</span>
    </a>
    <a href="/surah/4/1/" class="surah-card madani">
      <span class="surah-number">4 🕌</span>
      <span class="surah-name">An-Nisa</span>
    </a>
    <a href="/surah/5/1/" class="surah-card madani">
      <span class="surah-number">5 🕌</span>
      <span class="surah-name">Al-Ma'idah</span>
    </a>
    <a href="/surah/6/1/" class="surah-card makki">
      <span class="surah-number">6 🕋</span>
      <span class="surah-name">Al-An'am</span>
    </a>
    <a href="/surah/7/1/" class="surah-card makki">
      <span class="surah-number">7 🕋</span>
      <span class="surah-name">Al-A'raf</span>
    </a>
    <a href="/surah/8/1/" class="surah-card madani">
      <span class="surah-number">8 🕌</span>
      <span class="surah-name">Al-Anfal</span>
    </a>
    <a href="/surah/9/1/" class="surah-card madani">
      <span class="surah-number">9 🕌</span>
      <span class="surah-name">At-Tawbah</span>
    </a>
    <a href="/surah/10/1/" class="surah-card makki">
      <span class="surah-number">10 🕋</span>
      <span class="surah-name">Yunus</span>
    </a>
    <a href="/surah/11/1/" class="surah-card makki">
      <span class="surah-number">11 🕋</span>
      <span class="surah-name">Hud</span>
    </a>
    <a href="/surah/12/1/" class="surah-card makki">
      <span class="surah-number">12 🕋</span>
      <span class="surah-name">Yusuf</span>
    </a>
    <a href="/surah/13/1/" class="surah-card makki">
      <span class="surah-number">13 🕋</span>
      <span class="surah-name">Ar-Ra'd</span>
    </a>
    <a href="/surah/14/1/" class="surah-card makki">
      <span class="surah-number">14 🕋</span>
      <span class="surah-name">Ibrahim</span>
    </a>
    <a href="/surah/15/1/" class="surah-card makki">
      <span class="surah-number">15 🕋</span>
      <span class="surah-name">Al-Hijr</span>
    </a>
    <a href="/surah/16/1/" class="surah-card makki">
      <span class="surah-number">16 🕋</span>
      <span class="surah-name">An-Nahl</span>
    </a>
    <a href="/surah/17/1/" class="surah-card makki">
      <span class="surah-number">17 🕋</span>
      <span class="surah-name">Al-Isra</span>
    </a>
    <a href="/surah/18/1/" class="surah-card makki">
      <span class="surah-number">18 🕋</span>
      <span class="surah-name">Al-Kahf</span>
    </a>
    <a href="/surah/19/1/" class="surah-card makki">
      <span class="surah-number">19 🕋</span>
      <span class="surah-name">Maryam</span>
    </a>
    <a href="/surah/20/1/" class="surah-card makki">
      <span class="surah-number">20 🕋</span>
      <span class="surah-name">Ta-Ha</span>
    </a>
    <a href="/surah/21/1/" class="surah-card makki">
      <span class="surah-number">21 🕋</span>
      <span class="surah-name">Al-Anbiya</span>
    </a>
    <a href="/surah/22/1/" class="surah-card madani">
      <span class="surah-number">22 🕌</span>
      <span class="surah-name">Al-Hajj</span>
    </a>
    <a href="/surah/23/1/" class="surah-card makki">
      <span class="surah-number">23 🕋</span>
      <span class="surah-name">Al-Mu'minun</span>
    </a>
    <a href="/surah/24/1/" class="surah-card madani">
      <span class="surah-number">24 🕌</span>
      <span class="surah-name">An-Nur</span>
    </a>
    <a href="/surah/25/1/" class="surah-card makki">
      <span class="surah-number">25 🕋</span>
      <span class="surah-name">Al-Furqan</span>
    </a>
    <a href="/surah/26/1/" class="surah-card makki">
      <span class="surah-number">26 🕋</span>
      <span class="surah-name">Ash-Shu'ara</span>
    </a>
    <a href="/surah/27/1/" class="surah-card makki">
      <span class="surah-number">27 🕋</span>
      <span class="surah-name">An-Naml</span>
    </a>
    <a href="/surah/28/1/" class="surah-card makki">
      <span class="surah-number">28 🕋</span>
      <span class="surah-name">Al-Qasas</span>
    </a>
    <a href="/surah/29/1/" class="surah-card makki">
      <span class="surah-number">29 🕋</span>
      <span class="surah-name">Al-Ankabut</span>
    </a>
    <a href="/surah/30/1/" class="surah-card makki">
      <span class="surah-number">30 🕋</span>
      <span class="surah-name">Ar-Rum</span>
    </a>
    <a href="/surah/31/1/" class="surah-card makki">
      <span class="surah-number">31 🕋</span>
      <span class="surah-name">Luqman</span>
    </a>
    <a href="/surah/32/1/" class="surah-card makki">
      <span class="surah-number">32 🕋</span>
      <span class="surah-name">As-Sajdah</span>
    </a>
    <a href="/surah/33/1/" class="surah-card madani">
      <span class="surah-number">33 🕌</span>
      <span class="surah-name">Al-Ahzab</span>
    </a>
    <a href="/surah/34/1/" class="surah-card makki">
      <span class="surah-number">34 🕋</span>
      <span class="surah-name">Saba</span>
    </a>
    <a href="/surah/35/1/" class="surah-card makki">
      <span class="surah-number">35 🕋</span>
      <span class="surah-name">Fatir</span>
    </a>
    <a href="/surah/36/1/" class="surah-card makki">
      <span class="surah-number">36 🕋</span>
      <span class="surah-name">Ya-Sin</span>
    </a>
    <a href="/surah/37/1/" class="surah-card makki">
      <span class="surah-number">37 🕋</span>
      <span class="surah-name">As-Saffat</span>
    </a>
    <a href="/surah/38/1/" class="surah-card makki">
      <span class="surah-number">38 🕋</span>
      <span class="surah-name">Sad</span>
    </a>
    <a href="/surah/39/1/" class="surah-card makki">
      <span class="surah-number">39 🕋</span>
      <span class="surah-name">Az-Zumar</span>
    </a>
    <a href="/surah/40/1/" class="surah-card makki">
      <span class="surah-number">40 🕋</span>
      <span class="surah-name">Ghafir</span>
    </a>
    <a href="/surah/41/1/" class="surah-card makki">
      <span class="surah-number">41 🕋</span>
      <span class="surah-name">Fussilat</span>
    </a>
    <a href="/surah/42/1/" class="surah-card makki">
      <span class="surah-number">42 🕋</span>
      <span class="surah-name">Ash-Shura</span>
    </a>
    <a href="/surah/43/1/" class="surah-card makki">
      <span class="surah-number">43 🕋</span>
      <span class="surah-name">Az-Zukhruf</span>
    </a>
    <a href="/surah/44/1/" class="surah-card makki">
      <span class="surah-number">44 🕋</span>
      <span class="surah-name">Ad-Dukhan</span>
    </a>
    <a href="/surah/45/1/" class="surah-card makki">
      <span class="surah-number">45 🕋</span>
      <span class="surah-name">Al-Jathiyah</span>
    </a>
    <a href="/surah/46/1/" class="surah-card makki">
      <span class="surah-number">46 🕋</span>
      <span class="surah-name">Al-Ahqaf</span>
    </a>
    <a href="/surah/47/1/" class="surah-card madani">
      <span class="surah-number">47 🕌</span>
      <span class="surah-name">Muhammad</span>
    </a>
    <a href="/surah/48/1/" class="surah-card madani">
      <span class="surah-number">48 🕌</span>
      <span class="surah-name">Al-Fath</span>
    </a>
    <a href="/surah/49/1/" class="surah-card madani">
      <span class="surah-number">49 🕌</span>
      <span class="surah-name">Al-Hujurat</span>
    </a>
    <a href="/surah/50/1/" class="surah-card makki">
      <span class="surah-number">50 🕋</span>
      <span class="surah-name">Qaf</span>
    </a>
    <a href="/surah/51/1/" class="surah-card makki">
      <span class="surah-number">51 🕋</span>
      <span class="surah-name">Adh-Dhariyat</span>
    </a>
    <a href="/surah/52/1/" class="surah-card makki">
      <span class="surah-number">52 🕋</span>
      <span class="surah-name">At-Tur</span>
    </a>
    <a href="/surah/53/1/" class="surah-card makki">
      <span class="surah-number">53 🕋</span>
      <span class="surah-name">An-Najm</span>
    </a>
    <a href="/surah/54/1/" class="surah-card makki">
      <span class="surah-number">54 🕋</span>
      <span class="surah-name">Al-Qamar</span>
    </a>
    <a href="/surah/55/1/" class="surah-card makki">
      <span class="surah-number">55 🕋</span>
      <span class="surah-name">Ar-Rahman</span>
    </a>
    <a href="/surah/56/1/" class="surah-card makki">
      <span class="surah-number">56 🕋</span>
      <span class="surah-name">Al-Waqi'ah</span>
    </a>
    <a href="/surah/57/1/" class="surah-card madani">
      <span class="surah-number">57 🕌</span>
      <span class="surah-name">Al-Hadid</span>
    </a>
    <a href="/surah/58/1/" class="surah-card madani">
      <span class="surah-number">58 🕌</span>
      <span class="surah-name">Al-Mujadila</span>
    </a>
    <a href="/surah/59/1/" class="surah-card madani">
      <span class="surah-number">59 🕌</span>
      <span class="surah-name">Al-Hashr</span>
    </a>
    <a href="/surah/60/1/" class="surah-card madani">
      <span class="surah-number">60 🕌</span>
      <span class="surah-name">Al-Mumtahanah</span>
    </a>
    <a href="/surah/61/1/" class="surah-card madani">
      <span class="surah-number">61 🕌</span>
      <span class="surah-name">As-Saff</span>
    </a>
    <a href="/surah/62/1/" class="surah-card madani">
      <span class="surah-number">62 🕌</span>
      <span class="surah-name">Al-Jumu'ah</span>
    </a>
    <a href="/surah/63/1/" class="surah-card madani">
      <span class="surah-number">63 🕌</span>
      <span class="surah-name">Al-Munafiqun</span>
    </a>
    <a href="/surah/64/1/" class="surah-card madani">
      <span class="surah-number">64 🕌</span>
      <span class="surah-name">At-Taghabun</span>
    </a>
    <a href="/surah/65/1/" class="surah-card madani">
      <span class="surah-number">65 🕌</span>
      <span class="surah-name">At-Talaq</span>
    </a>
    <a href="/surah/66/1/" class="surah-card madani">
      <span class="surah-number">66 🕌</span>
      <span class="surah-name">At-Tahrim</span>
    </a>
    <a href="/surah/67/1/" class="surah-card makki">
      <span class="surah-number">67 🕋</span>
      <span class="surah-name">Al-Mulk</span>
    </a>
    <a href="/surah/68/1/" class="surah-card makki">
      <span class="surah-number">68 🕋</span>
      <span class="surah-name">Al-Qalam</span>
    </a>
    <a href="/surah/69/1/" class="surah-card makki">
      <span class="surah-number">69 🕋</span>
      <span class="surah-name">Al-Haqqah</span>
    </a>
    <a href="/surah/70/1/" class="surah-card makki">
      <span class="surah-number">70 🕋</span>
      <span class="surah-name">Al-Ma'arij</span>
    </a>
    <a href="/surah/71/1/" class="surah-card makki">
      <span class="surah-number">71 🕋</span>
      <span class="surah-name">Nuh</span>
    </a>
    <a href="/surah/72/1/" class="surah-card makki">
      <span class="surah-number">72 🕋</span>
      <span class="surah-name">Al-Jinn</span>
    </a>
    <a href="/surah/73/1/" class="surah-card makki">
      <span class="surah-number">73 🕋</span>
      <span class="surah-name">Al-Muzzammil</span>
    </a>
    <a href="/surah/74/1/" class="surah-card makki">
      <span class="surah-number">74 🕋</span>
      <span class="surah-name">Al-Muddaththir</span>
    </a>
    <a href="/surah/75/1/" class="surah-card makki">
      <span class="surah-number">75 🕋</span>
      <span class="surah-name">Al-Qiyamah</span>
    </a>
    <a href="/surah/76/1/" class="surah-card madani">
      <span class="surah-number">76 🕌</span>
      <span class="surah-name">Al-Insan</span>
    </a>
    <a href="/surah/77/1/" class="surah-card makki">
      <span class="surah-number">77 🕋</span>
      <span class="surah-name">Al-Mursalat</span>
    </a>
    <a href="/surah/78/1/" class="surah-card makki">
      <span class="surah-number">78 🕋</span>
      <span class="surah-name">An-Naba</span>
    </a>
    <a href="/surah/79/1/" class="surah-card makki">
      <span class="surah-number">79 🕋</span>
      <span class="surah-name">An-Nazi'at</span>
    </a>
    <a href="/surah/80/1/" class="surah-card makki">
      <span class="surah-number">80 🕋</span>
      <span class="surah-name">Abasa</span>
    </a>
    <a href="/surah/81/1/" class="surah-card makki">
      <span class="surah-number">81 🕋</span>
      <span class="surah-name">At-Takwir</span>
    </a>
    <a href="/surah/82/1/" class="surah-card makki">
      <span class="surah-number">82 🕋</span>
      <span class="surah-name">Al-Infitar</span>
    </a>
    <a href="/surah/83/1/" class="surah-card makki">
      <span class="surah-number">83 🕋</span>
      <span class="surah-name">Al-Mutaffifin</span>
    </a>
    <a href="/surah/84/1/" class="surah-card makki">
      <span class="surah-number">84 🕋</span>
      <span class="surah-name">Al-Inshiqaq</span>
    </a>
    <a href="/surah/85/1/" class="surah-card makki">
      <span class="surah-number">85 🕋</span>
      <span class="surah-name">Al-Buruj</span>
    </a>
    <a href="/surah/86/1/" class="surah-card makki">
      <span class="surah-number">86 🕋</span>
      <span class="surah-name">At-Tariq</span>
    </a>
    <a href="/surah/87/1/" class="surah-card makki">
      <span class="surah-number">87 🕋</span>
      <span class="surah-name">Al-A'la</span>
    </a>
    <a href="/surah/88/1/" class="surah-card makki">
      <span class="surah-number">88 🕋</span>
      <span class="surah-name">Al-Ghashiyah</span>
    </a>
    <a href="/surah/89/1/" class="surah-card makki">
      <span class="surah-number">89 🕋</span>
      <span class="surah-name">Al-Fajr</span>
    </a>
    <a href="/surah/90/1/" class="surah-card makki">
      <span class="surah-number">90 🕋</span>
      <span class="surah-name">Al-Balad</span>
    </a>
    <a href="/surah/91/1/" class="surah-card makki">
      <span class="surah-number">91 🕋</span>
      <span class="surah-name">Ash-Shams</span>
    </a>
    <a href="/surah/92/1/" class="surah-card makki">
      <span class="surah-number">92 🕋</span>
      <span class="surah-name">Al-Layl</span>
    </a>
    <a href="/surah/93/1/" class="surah-card makki">
      <span class="surah-number">93 🕋</span>
      <span class="surah-name">Ad-Dhuha</span>
    </a>
    <a href="/surah/94/1/" class="surah-card makki">
      <span class="surah-number">94 🕋</span>
      <span class="surah-name">Ash-Sharh</span>
    </a>
    <a href="/surah/95/1/" class="surah-card makki">
      <span class="surah-number">95 🕋</span>
      <span class="surah-name">At-Tin</span>
    </a>
    <a href="/surah/96/1/" class="surah-card makki">
      <span class="surah-number">96 🕋</span>
      <span class="surah-name">Al-Alaq</span>
    </a>
    <a href="/surah/97/1/" class="surah-card makki">
      <span class="surah-number">97 🕋</span>
      <span class="surah-name">Al-Qadr</span>
    </a>
    <a href="/surah/98/1/" class="surah-card madani">
      <span class="surah-number">98 🕌</span>
      <span class="surah-name">Al-Bayyinah</span>
    </a>
    <a href="/surah/99/1/" class="surah-card madani">
      <span class="surah-number">99 🕌</span>
      <span class="surah-name">Az-Zalzalah</span>
    </a>
    <a href="/surah/100/1/" class="surah-card makki">
      <span class="surah-number">100 🕋</span>
      <span class="surah-name">Al-Adiyat</span>
    </a>
    <a href="/surah/101/1/" class="surah-card makki">
      <span class="surah-number">101 🕋</span>
      <span class="surah-name">Al-Qari'ah</span>
    </a>
    <a href="/surah/102/1/" class="surah-card makki">
      <span class="surah-number">102 🕋</span>
      <span class="surah-name">At-Takathur</span>
    </a>
    <a href="/surah/103/1/" class="surah-card makki">
      <span class="surah-number">103 🕋</span>
      <span class="surah-name">Al-Asr</span>
    </a>
    <a href="/surah/104/1/" class="surah-card makki">
      <span class="surah-number">104 🕋</span>
      <span class="surah-name">Al-Humazah</span>
    </a>
    <a href="/surah/105/1/" class="surah-card makki">
      <span class="surah-number">105 🕋</span>
      <span class="surah-name">Al-Fil</span>
    </a>
    <a href="/surah/106/1/" class="surah-card makki">
      <span class="surah-number">106 🕋</span>
      <span class="surah-name">Quraysh</span>
    </a>
    <a href="/surah/107/1/" class="surah-card makki">
      <span class="surah-number">107 🕋</span>
      <span class="surah-name">Al-Ma'un</span>
    </a>
    <a href="/surah/108/1/" class="surah-card makki">
      <span class="surah-number">108 🕋</span>
      <span class="surah-name">Al-Kawthar</span>
    </a>
    <a href="/surah/109/1/" class="surah-card makki">
      <span class="surah-number">109 🕋</span>
      <span class="surah-name">Al-Kafirun</span>
    </a>
    <a href="/surah/110/1/" class="surah-card madani">
      <span class="surah-number">110 🕌</span>
      <span class="surah-name">An-Nasr</span>
    </a>
    <a href="/surah/111/1/" class="surah-card makki">
      <span class="surah-number">111 🕋</span>
      <span class="surah-name">Al-Masad</span>
    </a>
    <a href="/surah/112/1/" class="surah-card makki">
      <span class="surah-number">112 🕋</span>
      <span class="surah-name">Al-Ikhlas</span>
    </a>
    <a href="/surah/113/1/" class="surah-card makki">
      <span class="surah-number">113 🕋</span>
      <span class="surah-name">Al-Falaq</span>
    </a>
    <a href="/surah/114/1/" class="surah-card makki">
      <span class="surah-number">114 🕋</span>
      <span class="surah-name">An-Nas</span>
    </a>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterButtons = document.querySelectorAll('.surah-legend button');
  const surahCards = document.querySelectorAll('.surah-card');
  
  filterButtons.forEach(button => {
    button.addEventListener('click', function() {
      const filter = this.dataset.filter;
      
      // Update active state
      filterButtons.forEach(btn => btn.classList.remove('active'));
      this.classList.add('active');
      
      // Filter cards
      surahCards.forEach(card => {
        if (filter === 'all') {
          card.style.display = '';
        } else if (card.classList.contains(filter)) {
          card.style.display = '';
        } else {
          card.style.display = 'none';
        }
      });
    });
  });
});
</script>
